.event {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a1a;
  background-image: url(../img/bg.jpeg);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 180px 89px;
}

.event__title {
  font-size: 100px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 47px;
}

.event__info {
  display: flex;
  gap: 80px;
  margin-bottom: 62px;
}

.event__info-item {
  font-size: 30px;
}

.event__info-number {
  font-size: 80px;
  font-weight: 800;
  margin-right: 8px;
}

.event__button-reserve {
  border-radius: 36px;
  background-color: #ffc119;
  color: #1a1a1a;
  font-size: 24px;
  padding: 16px 36px;
  margin-bottom: 24px;
}

.event__button-edit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.event__button-edit_svg {
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
}

@media (max-width: 1024px) {
  .event {
    padding: 110px 89px;
  }

  .event__title {
    font-size: 70px;
    margin-bottom: 39px;
  }

  .event__info {
    gap: 50px;
    margin-bottom: 45px;
  }

  .event__info-item {
    font-size: 24px;
  }

  .event__info-number {
    font-size: 50px;
  }

  .event__button-reserve {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .event {
    padding: 80px 16px 60px;
  }
}

@media (max-width: 650px) {
  .event__title {
    font-size: 38px;
    margin-bottom: 8px;
  }

  .event__info {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
    margin-bottom: 225px;
  }
}
